*{
  margin: 0;
  padding: 0;
}

body{

}


#title{
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  padding-bottom: 10px;

}

figure{
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-content: center;
  align-items: center;
}

#img-div{
  padding: 3vh 0;
  background: rgb(81,241,125);
  background: linear-gradient(310deg, #eeeeee 0%, #F7F5F2 100%);

}


#image{
  width: 70%;
  padding: 2vh auto;
  border-radius: 15px;
  box-shadow:
  1.7px 8.5px 5.6px rgba(0, 0, 0, 0.049),
  4.5px 6.5px 5px rgba(0, 0, 0, 0.07),
  10.1px 30.1px 24.1px rgba(0, 0, 0, 0.091),
  60px 100px 80px rgba(0, 0, 0, 0.18)
;
}

#img-caption{
  padding-top: 5.5px;
  font-size: 1.2rem;
}

#tribute-info{
padding: 2.7vh 0.83vw;    z-index: 10;
}

#tribute-link{
  display: inline-block;
  text-decoration: none;
  padding: 5px 10px;
  margin-top: 5px;
  border-radius: 10px;
  border: 1px black solid;
 box-shadow: 0px 2px 4.5px 1.2px rgba(0, 0, 0, 0.3);

}